body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EDF2F4;
  } 
  strong {
    color: #D90429;
  }



    




  /* TITOLO */
.header {
    background-color:#2B2D42;
    color: #EDF2F4;
    padding: 10px;
display: flex;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 50px;
    font-size: 25px;
    justify-content: center;
  }
  
  nav ul li a {
    color: #EDF2F4;
    text-decoration: none;
  }
/* testo*/

.contenitoretesto {
    margin-left: 52px;
    margin-top: 50;
    height: 50px;
    margin-top: 253px;
}


@media screen and (max-width: 600px)
 {
    .contenitoretesto {
        margin-top: 53px;

    }
 }
.titolosito h1 {
    color: #2B2D42;
    font-size: 50px;
    margin-left: 50px;
}

.titolosito p {
    color: #515966;
    font-size: 25px;
    margin-top: -25px;
    margin-left: 214px;
}
.sottotitolo h2 {
    color: #2B2D42;
    font-size: 38px;
    margin-top: 50px;
    margin-left: 149px;
}
 
  /* img */ 
  img {
    height: -175%;
    height: 381px;
    margin-left: 948px;
    margin-top: -167px;
}

/* bottone cv */
.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2B2D42;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
  }

  .download-button:hover {
    background-color:#D90429;
  }

  /* bottone */ 
  .download-button {
    margin-left: -1027px;
}