
body {
    margin: 0;
    font-family:'League Spartan', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #0f0505;
}

.row {
   
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important; 
}
#col1 {
    display: flex;
    justify-content: center;
    margin-right: 5%;
    margin-top: 5%;
    width: 95%;
    margin-left: 5%;
}
div#navbarNav {
    margin-left: 30%;
}


h1 {
    width: fit-content;
    margin-right: 0px;
}

h2 {
    width: fit-content;
    margin-right: 0px;
}
p{
    width: fit-content;
    margin-right: 0px;
}

#col2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconhome {
    display: flex;
    align-items: center;
}
/*-------------------menu---------------------*/
.nav-color {
    background-color:#1D3557;
}

.navbar-light .navbar-nav .nav-link.navcustomcolor {
    color: #F1FAEE;
}
.navbar-light .navbar-nav .nav-link.navcustomcolor:hover {
    color: red;
}

svg.bi.bi-code {
    color: #F1FAEE;
    position: relative;
    top: 1px;
    height: 42px;
    width: 42px;
}
span {
    color: #F1FAEE;
}

.icon-home {
    height: 24px;
    width: 24px;
    background-image:url(icon/icon-home.svg);
    display: block;
    float: left;
    margin-right: 4px;
}